body{background:#FFF;margin:40px auto;max-width:720px;line-height:1.6;font-size:21px;font-family:georgia,serif;color:#444;padding:0 10px}
h1,h2,h3{line-height:1.2;font-family:avenir,sans-serif;}
a{color:#009FC5;text-decoration:none;}
a:hover{text-decoration:underline;}